# ---------------------------------------------------------------------------- #
#                                     code                                     #
# ---------------------------------------------------------------------------- #

__pycache__
debug*
test*

# ---------------------------------------------------------------------------- #
#                                  A_maze_ing                                  #
# ---------------------------------------------------------------------------- #

.venv
mlx-2.2-py3-ubuntu-any