# ---------------------------------------------------------------------------- #
#                                     code                                     #
# ---------------------------------------------------------------------------- #

__pycache__
debug*

# ---------------------------------------------------------------------------- #
#                                  A_maze_ing                                  #
# ---------------------------------------------------------------------------- #

.venv